profile = sparse
# break-cases = fit-or-vertical
# break-fun-decl = fit-or-vertical
# break-infix = fit-or-vertical
# exp-grouping = preserve
# if-then-else = keyword-first
let-binding-spacing = sparse
let-module = sparse
parse-docstrings = true
type-decl = sparse
wrap-comments = true
single-case = sparse
wrap-fun-args=false